# Python básico

Ana Belén Romero Losada
Departamento de Ciencias de la Computación e Inteligencia Artificial
Universidad de Sevila

En esta hoja de trabajo vamos a ver lo esencial de Python para poder empezar a practicar con el lenguaje.

En el entorno Jupyter se trabaja Python sobre un notebook u hoja de trabajo. Esta hoja de trabajo está formada por una secuencia de cajas, que pueden ser de texto, en las que explicar ideas y conceptos, o de código, en las que definir o evaluar funciones Python.

##  Ejercicio 1

Crea una función que resuelva una ecuación de segundo grado en jupyter y en R. Compara las diferencias a la hora de realizar operaciones aritméticas y lógicas, declarar variables/objetos y usar las estructuras de control. 

PISTA: existe una función llamada round() para redondear. Se usa como típicamente se usa en R.

In [1]:
#Crea la funcion llamada calculadora
##comprueba si el número que iría dentro de la raiz cuadrada es negativo
###Devuelve 0 y un mensaje de error
##en el caso que no lo sea, resuelve la ecuacion
### imprime por pantalla los siguientes mensajes
####"ambas soluciones son válidas, x puede valer sol1 y sol2"
####"Solo la solucion 1 es válida, x vale sol1"
####"Solo la solucion 2 es válida, x vale sol2"

In [6]:
def calculadora (a, b, c):
    previo= (b)**2 - (4*(a)*(c))
    
## La función stop no me ha funcionado en python, pero en R sí
    if previo < 0:
        print("Esta ecuación no tiene solución")
        return(0)
    else: 
        sol1 = (-(b) + ((b)**2 - (4*(a)*c))**1/2)/(2*(a))
        sol2 = (-(b) - ((b)**2 - (4*(a)*c))**1/2)/(2*(a))
    
## Los test es lo que yo veo si da cero o no
        test1 = (a*(sol1)**2) + (b*sol1) + c
        test2 = (a*(sol2)**2) + (b*sol2) + c
    if round(test1) == 0 and round(test2) == 0:
        print("Ambas soluciones son válidas, x puede valer", sol1, "ó", sol2)
##Ariba he querido que me compare un TRUE con otro TRUE
    elif round(test1) == 0 and round(test2) != 0:
        print("Solo la solución 1 es válida, por lo que x solo puede valer", sol1)
    elif round(test1) != 0 and round(test2) == 0:
        print("Solo la solución 2 es válida, por lo que x solo puede valer", sol2)
## Aquí los print no hace falta que vayan acompañado por los paste, (para que combine letras con números o soluciones).

In [7]:
calculadora(2,4,7)

Esta ecuación no tiene solución

0

## Ejercicio 2

Traduce este pseudocódigo a código en R y python simultáneamente.

In [ ]:
#Declara una variable llamada x que valga 2
#Súmale 2 a x

#Las variables se nombran como un igual
x=2
#También puedo darle a la vez varios nombre a varias variables.
x,y,b=2,3,45
#si queremos ver los tres valores a la vez hacemos un print.
print(x,y,b)

In [ ]:
#Voy a modificar el objeto con una operación aritmética con ese valor. Esto se llama asignación aumentada.
x+=2
x-=3

#En vez de variable, deberíamos hablar de objetos.

In [17]:
#Declara una variable llamada palabra que valga "hola"
#Cuadrupicla la variable palabra

#Puedo trabajar con una string directamente y usar lo que tiene dentro usarlo como individuales. 
#cadena de carácteres.

In [11]:
palabra="hola"
palabra*=4
palabra

#En R se trata a hola como un bloque. En Python se trata directamente como un vector.

'holaholaholahola'

In [ ]:
#añade las palabras "mundo que tal" a palabra
palabra+="mundo que tal"
palabra

palabra.index("mundo")
#Te indica en que posición esta. Cada letra es un elemento. la palabra mundo empieza en la string en el elemento 20"

palabra.upper()
#upper te lo pone todo en mayúscula. Si pones directamente () te pone todo en mayúscula.

palabra.find("tal")
#para encontrar si dentro de tu string hay algo. Me dice que sí o que no y en qué posición está.

palabra.count("a")


#encuentra en que posicion está mundo
#escribelo en mayuscula y cuenta cuantas "a" hay (esto hazlo solo en python)

In [13]:
palabra[0:6]
#Puede acceder distintas partes de mi string, contando con los espacios. Aquí la primera ubicación es un 0, sin embargo en R empieza en 1.
#Tambien existe la posibilidad de ponerle dos puntos, y me indica el paso con el que va a hacer la frecuencia.
palabra[0:12:2]
#ahí va de dos en dos.

'holaho'

In [ ]:
#que vaya desde el principio hasta el final y del revés (de atrás hacia a lante)
palabra[::-1]

##HASTA AQUÍ LAS STRING. Pero lo que más vamos a usar con las listas.

## Ejercicio 3

Vamos a prácticar con las demás clases de objetos en python.

In [5]:
#############tuplas
tupla1=(1,4,5,"hola")
#una tupla no puede tener dentro otra tupla


#Crea una tupla con tres elementos, el elemento más parecido a un vector
tupla1=(1,4,5,"hola")

#Tambié se reconoce como tupla lo sigiente
tupla2=1,2,3,4

#Crea una tupla con un elemento
tula_uno=1,

#Crea una tupla vacía. En esta sí es recomendable poner paréntesis
tupla_vacia=()

#recorre la tupla al revés
tupla1[::-1]
tupla[3]

#está el valor 6 en la tupla?
1 in tupla1
#Te sale como resultado TRUE o FALSE.

#Concatena, es decir, añade al final de la tupla: el valor 10
#Las asignaciones sumatorias que se usa con las tuplas es:
tupla1+=("hola",)
tupla1
#Solo se pueden concatenar tuplas con tuplas, no con strings. Si pongo solo "hola" lo considera como string, hay que ponerlo ("hola",) o "hola",

#Modifica el valor de la posición 2 en la tupla por la palabra "hola"
tupla1[2]=5
#sale error. Tendíamos que usar listas.

In [19]:
#############listas

l=[1,2,5]
#Hay que ponerle corchetes para que no las confunda con tuplas. en las listas puede haber cualquier cosa.
lista2 = [1,2,3,l]
lista2

#Crea una lista que dentro tenga palabras
lista1= ["hola", "mundo", "que", "tal"]

#Modifica el valor de la posición 2 en la lista por la palabra "hola"
lista1[2]="hola"
lista1

#Concatena el valor 122 con tu lista. Le tengo que poner los corchetes para que tome el valor como una lista.
lista1+=[122]
lista1

#Concatena el valor "hola" con tu lista. Hay que ponerle corchetes, porque si no te los añade de letra en letra.
lista1+=["hola"]
lista1

#transforma la lista en una string con la función .join
lista_vacia=[]
lista_vacia.append(2)
lista_vacia
#join no pasa números a string (habría que quitarle el 122). Une los elementos de la lista cuando son caracteres
" y ".join(lista1)


#####for
def mi_primer_bucle(lista):
    #for (i in 1:length(lista)). Así lo hacíamos en R.
    for i in range(0,(len(lista)+1)):
    #Se pone el +1 porque empieza a contar desde 0.
        lista[i] <- x+1
    for precio in lista
        precio+1

TypeError: sequence item 4: expected str instance, int found

In [ ]:
#############Diccionarios
#Crea un diccionario
#accede al valor de la 2ª clave
#Añade una clave nueva con su correspondiente valor
#Accede solo a los valores, o solo a las claves